<% provide(:title,"マイページ") %>
<h1><%= @user.name %>さんのマイページ</h1>
<p>
<%= @user.name %>さんのメールアドレス<br>
&nbsp;&nbsp;&nbsp;<%= @user.email %>
</p>
<%= link_to 'プロフィールの変更', edit_user_registration_path %>
<p>
<% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "削除", user, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
</p>
